.tile-x {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 8px;
  background: #121114;

  overflow-x: auto;
}

.tile-x div { 
  margin-bottom: 10px;  
}